button.a {
    height: 33px;
    width: 86px;
    background-color: yellow;
	border-radius:5px;
	border:red;
}


img{
	height:200px;
	width:100px;
	float:left;
}

p.clear{
	clear:left;
	
	
}
div{
	 height:300px;
    width: 800px;
	
	
background: #959595; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #959595 0%, #0d0d0d 30%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #1b1b1b 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #959595 0%,#0d0d0d 30%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #959595 0%,#0d0d0d 30%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}